*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url('img.jpg');
    background-size: cover;
}
.box{
    width: 30%;
    height: 63vh;
    background:transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(7px);
    border-radius: 50px 5px;
    margin-top: 15%;
    overflow: hidden;
    box-shadow: 0 5px 10px #ffffff3d;
}
.container{
display: flex;
justify-content:center;
position: relative;
}
h1{
    position: absolute;
    left:37.5%;
    top:19%;
    margin-top: 6px;
    text-align: center;
    padding: 10px 110px 10px 110px;
    background: linear-gradient(85deg, #12111148, rgba(255, 255, 255, 0.322));
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50px 5px;
    color: white;
    box-shadow: 0 5px 10px #ffffff3d;
    font-family: sans-serif;
}
.output input{
    margin-top: 20px;
    width: 90%;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    height: 50px;
    font-size: 26px;
    position: relative;
    padding-left: 10px;
    background: #ffffff8f;
    transition: ease 0.3s all;

}

input:hover{
    box-shadow: 0 4px 8px white;
}
input::placeholder{
    padding-left:1px;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
    top:5px;    
}
.buttons{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
 .zero {
    padding-left: 80px;
    padding-right: 80px;

}
.buttons .btn{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 180;
    box-shadow: 0 4px 8px white;
    transition: ease 0.3s all;
}
.btn:hover{
    box-shadow: none;
}